<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo al Detalle - Glam Femenina</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Catálogo Al Detalle</h1>
        <p>Aquí encontrarás nuestros productos al detalle.</p>

        <a href="{% url 'agregar_producto' %}" class="add-button">Agregar Producto</a>
        <a href="{% url 'index' %}" class="back-button">Regresar</a>
    </div>
</body>
</html>