<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Capilares - Glam Femenina</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Inventario/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Productos Capilares</h1>
        <p>Aquí encontrarás nuestra selección de productos capilares.</p>

        <a href="{% url 'agregar_producto' %}" class="add-button">Agregar Producto</a>
        
        <a href="{% url 'index' %}" class="back-button">Regresar</a>
        
    </div>
</body>
</html>