{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variedades - Glam Femenina</title>
    <link rel="stylesheet" href="{% static 'Inventario/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Variedades</h1>
        <p>Aquí encontrarás una selección de nuestros productos variados.</p>

        
        
        <a href="{% url 'menu' %}" class="back-button">Regresar</a>
        
    </div>
</body>
</html>