/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #ffe6f0, #ffffff); /* Fondo rosado blanco con gradiente */
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #ff5e99;
    font-size: 2em;
    margin-bottom: 20px;
}

h3 {
    color: #ff8fb1;
    margin-top: 30px;
}

/* Estilos del botón de regresar */
.btn-regresar {
    position: absolute;
    top: 10px;
    left: 10px; /* Cambié 'right' por 'left' para moverlo a la izquierda */
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: 2px solid #ff5e99; /* Contorno rosado */
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    transition: background-color 0.3s;
}

.btn-regresar:hover {
    background-color: #ff5e99; /* Fondo rosado cuando pasa el ratón */
    color: white;
}

.producto-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.producto-item {
    flex: 0 1 calc(33.33% - 10px);  /* Tres elementos por fila */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ffb6c1;
    cursor: pointer; /* Indica que el elemento es seleccionable */
    transition: transform 0.2s, box-shadow 0.2s;
}

.producto-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.producto-nombre {
    font-weight: 600;
    color: #ff5e99;
    font-size: 1em;
    margin: 0;
}

.producto-precio {
    background-color: #ff5e99;
    color: white;
    padding: 5px 8px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.9em;
    margin-top: 5px;
}

/* Estilo adicional para el producto seleccionado */
.producto-item.selected {
    border: 2px solid #ff8fb1; /* Cambia el borde para mostrar la selección */
    box-shadow: 0 4px 12px rgba(255, 94, 153, 0.4); /* Resalta el producto seleccionado */
}
